/ {
    behaviors {
        as: auto_shift {
                compatible = "zmk,behavior-hold-tap";
                label = "AUTO_SHIFT";
                #binding-cells = <2>;
                tapping_term_ms = <TAP_MS>;
                quick_tap_ms = <TAP_MS>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };

        ht: hold_tap {
                compatible = "zmk,behavior-hold-tap";
                label = "HOLD_TAP";
                #binding-cells = <2>;
                tapping_term_ms = <TAP_MS>;
                quick_tap_ms = <TAP_MS>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISED>;
            then-layer = <ADJUST>;
        };
    };
};
