/ {
    behaviors {
        as: auto_shift {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <TAP_MS>;
                quick-tap-ms = <TAP_MS>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };

        ht: hold_tap {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <TAP_MS>;
                quick-tap-ms = <TAP_MS>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISED>;
            then-layer = <ADJUST>;
        };
        tri_layer {
            if-layers = <D_LOWER D_RAISED>;
            then-layer = <ADJUST>;
        };

    };
};
